<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dabbawala">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SignedInActivity"
            android:label="@string/title_activity_signed_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".AdminPanel"
            android:label="@string/title_activity_admin_panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResLogin"
            android:label="@string/title_activity_res_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddItem"
            android:label="@string/title_activity_add_item"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ViewMenu"
            android:label="Menu"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ListCartActivitiy"
            android:label="My Cart"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PaymentOption"
            android:label="Payment Option"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CheckOutActivity"
            android:label="CheckOutActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ViewCurrentOrders"
            android:label="Current Orders"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ViewPastOrders"
            android:label="Past Orders"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ViewItemsOrdered"
            android:label="Items Ordered"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ChangeProductQuantity"
            android:label="ChangeProductQuantity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ViewCurrentOrdersUser"
            android:label="Current Orders"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ViewPastOrdersUser"
            android:label="History"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>